# LaTeX intermediate and output files
*.aux
*.bbl
*.blg
*.brf
*.idx
*.ilg
*.ind
*.lof
*.log
*.lot
*.out
*.toc
*.acn
*.acr
*.alg
*.glg
*.glo
*.gls
*.ist
*.fls
*.fdb_latexmk
*.synctex.gz
*.run.xml
*.nav
*.snm

# Backup files
*.bak
*.sav
*.backup

# Editor-specific files
*~ 
*.swp
*.swo
*.tmp

# minted files
_minted/
